# Copyright OHMEC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

node_modules/
lint.out
mapbox-config.js
.DS_Store
*.pyc
__pycache__/
.venv/
tmp/
